/*
  SPDX-FileCopyrightText: 2026 Chrysalide Learning
  SPDX-FileCopyrightText: 2026 Joas Yannick Kinouani
  SPDX-License-Identifier: GPL-3.0-or-later
*/

/*
  # Changelog

  ## User Story 9 — 2026-03-02

  ### Authors

  - Joas Yannick Kinouani

  ### Added

  - Started the CSS stylesheet for articles.
*/
