# SPDX-FileCopyrightText: 2026 Chrysalide Learning
# SPDX-FileCopyrightText: 2026 Joas Yannick Kinouani
# SPDX-License-Identifier: GPL-3.0-or-later

# Oxygen XML project files
*.xpr

# Codex file
.codex

# # Changelog
#
# ## Story 9 — 2026-04-23
#
# ### Authors
#
# - Joas Yannick Kinouani
#
# ### Added
#
# - Excluded Oxygen XML project files.
# - Excluded the .codex file.
